{% extends "base.html" %}
{% block content %}
<!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">DIGIBEAT</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Welcome to Digibeat - an interactive music library</h2>
        <form method ="post" class =" btn btn-primary js-scroll-trigger">
        	<h2>Login</h2>
	  <input title="Search" value="I" type="submit" class="button" name="login">
	</form>
 

      </div>
    </div>
  </header>
{% endblock %}
  
