{% extends "base.html" %}
{% block content %}
 <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Login</h1>
     <form method ="post" class =" btn btn-primary js-scroll-trigger">
        	<h2>Sign-in</h2>
	  <input title="Search" value="signin" type="submit" class="button" name="sign">
        	<h2>Sign-up</h2>
	  <input title="Search" value="signup" type="submit" class="button" name="sign">
	</form>
{% endblock %} 