{% extends "base.html" %}

{% block content %}
  <link href="css/signin.css" rel="stylesheet">
 <div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <form action="" method="POST">

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" name="email" placeholder="Username or email">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" name = "password" placeholder="Password">
        </div>

        <button type="submit" class="float">Login</button>
       </form>
    </div>
 </div>
 {% endblock %}