 
 {% extends 'base.html' %}  {% block content %}

<form action="signups" method="post" class="col col-lg-4 text-center" style="margin: auto; margin-top: 5em;">
    <h2>Sign Up</h2>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    <div class="form-group">
        <input type="text" class="form-control" id="firstname" name="firstname" aria-describedby="firstnameHelp" placeholder="Enter First Name" >
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="lastname" name="lastname" aria-describedby="lastnameHelp" placeholder="Enter Last Name" >
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email" >
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter Password" required>
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender" >
          <option>Male</option>
          <option>Female</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" name = "signup" value = "signup">Sign Up</button>
</form>
{% endblock %}