{% extends "base.html" %}
{% block content %}
  <link href="css/signin.css" rel="stylesheet">
<h2 class =""> Songs in {{play_name}}</h2>
<div class ="">
	{% for item in songs %}
	<ul>
		<li>item['title']</li>
		<li>item['link']</li>
		<li> <button type="submit" class="float" name="song_info" value="{{item['title']}}">Song info </button>  <button type="submit" class="float" name="playlist_info" value="{{item['title']}}">Playlist_info  </button>  <button type="submit" class="float" name="user_info" value="{{item['title']}}>User _info</button> </li>
		<br>

	</ul>
	{% endfor %}
</div>
	
	<div class="container d-flex h-100 align-items-center">
	<div class = "mx-auto text-center">
		   <a href="upload.html" class="btn btn-primary js-scroll-trigger" name="upload">Upload Songs</a>
	</div>
</div>


<form method="post", action ="#">
	<h3> Song to be Deleted </h3>
  <input type="text" class="textbox" placeholder="Name of Song" name = "delete">
  <input title="Name of Song" value="" type="submit" class="button">
</form>

{% endblock %}